/* master styles */
body{
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}

html {
  scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6{

    font-family: 'Roboto Slab', serif;
}

.header-wrapper{
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    padding: 38px;
    background-color: #2E2E2E;
    font-size: 2rem;
    color: #F5F5F5;
    z-index: 1000;
}

.dropdown-menu {
    position: absolute;
    right: 0;
    top: 113px;
    height: 100vh;
    width: 0;
    background-color: #2E2E2E;
    font-family: 'Ubuntu Condensed', sans-serif;
    overflow: hidden;
    transition: width 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.dropdown-menu.open {
    width: 300px;
}
.dropdown-menu > .nav-link-wrapper{
    padding: 0.7rem;
    display: grid;
    gap: 3rem;
    align-items: center;
    justify-content: center;
    text-align: center;
    
}
.dropdown-menu > .nav-link-wrapper a {
    color: #F5F5F5;
    text-decoration: none;
    transition: 0.5s;
}

.dropdown-menu > .nav-link-wrapper a:hover{

    color: #F4C95D;
    letter-spacing: 2px;

}

.dropdown-menu > .social-media-icons {

    margin-top: 40px;
    margin-bottom: 40px;
    width: 300px;
    display: flex;
    justify-content: space-around;

}

.dropdown-menu > .social-media-icons a{

    color: #F5F5F5;
    transition: 0.5s;

}
.dropdown-menu > .social-media-icons a:hover{

    color: #F4C95D;

}
.container-wrapper{
    background-color: #F5F5F5;
}
.hero-section{

    background-image: url(/images/mexican-food-still-life.jpg);
    padding: 100px;
    height: 300px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-section > .top-heading{

    padding: 1px 20px;
    background-color: #2E2E2E;
    color: #F5F5F5;
    width: 350px;
    border-radius: 2px;

}

.hero-section > .bottom-heading{

    background-color: #F4C95D;
    color: #2E2E2E;
    padding: 1px 20px;
    margin-top: 15px;
    width: 70px;
    border-radius: 2px;
}

/*features section styles*/

.feature-section{

    height: 400px;
    background-image: url(/images/8C7C6BA0-CBE4-4A95-9C32-CE98CBAEE717.PNG);
    background-color: #F4C95D;
    border-top: 10px solid white;
    font-family: 'Ubuntu Condensed', sans-serif;
    color: #2E2E2E;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: inset 0px -26px 79px -8px rgba(0,0,0,0.58);
}

.feature-section > .column-wrapper {
    width: 1000px;
    display: flex;
    justify-content: space-between;
}

.feature-section > .column-wrapper > .column {

    padding: 20px;
    margin: 42px;
    text-align: center;
    border-bottom: 5px solid transparent;
    border-radius: 10px;
    transition: 1s;

}

.feature-section > .column-wrapper > .column:hover {

    border-bottom: #2E2E2E 5px solid;

}

.feature-section > .column-wrapper > .column :nth-child(1){

    font-size: 3em;
}

.feature-section > .column-wrapper > .column :nth-child(2){

    font-size: 1.5em;
    font-weight: 900;
    height: 50px;
    transition: 1s;
}

.feature-section > .column-wrapper > .column :nth-child(2):hover{

    letter-spacing: 1px;

}

.feature-section > .column-wrapper > .column :nth-child(3){

    letter-spacing: 2px;
}
#menu {
    scroll-margin-top: 113px;
}
.menu-wrapper {
    display: grid;
    background-color: #F5F5F5;
    color: #2E2E2E;
    box-shadow: inset 0px -26px 79px -8px rgba(0,0,0,0.58);
}
.menu-wrapper > .heading {
    justify-self: center;
    color: #D72638;


}
.menu-wrapper > .menu-items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    padding: 2rem;
    

}

.menu-wrapper > .menu-items > .menu-item {
    display: grid;
    justify-content: center;
}

.menu-wrapper > .menu-items > .menu-item > .menu-item-img img {
    height: 150px;
    filter: drop-shadow(4px 4px 6px rgba(0, 0, 0, 0.5));
}

.menu-wrapper > .menu-items > .menu-item > .menu-item-name{
    font-family: 'Ubuntu Condensed', sans-serif;
    font-size: 1.5rem;
    justify-self: center;
    color: #2E2E2E;
}

.menu-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    position: relative;
    overflow: hidden;
}

.menu-bar > .menu-items {
    display: flex;
    justify-content: space-around;
    overflow-x: auto;
    scroll-behavior: smooth;
}

.left-icon, .right-icon {
  font-size: 2rem;
  color: rgba(0, 0, 0, 0.6);
  background-color: rgba(255, 255, 255, 0.7);
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  display: none;
}

.menu-bar > .menu-items > .menu-item {
    display: grid;
    justify-content: center;
}

.menu-bar > .menu-items > .menu-item > .menu-item-img img {
    height: 100px;
    filter: drop-shadow(4px 4px 6px rgba(0, 0, 0, 0.5));
}

.menu-bar > .menu-items > .menu-item > .menu-item-name{
    font-family: 'Ubuntu Condensed', sans-serif;
    font-size: 1.5rem;
    justify-self: center;
    color: #2E2E2E;
}

.header-menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}

.header-menu > .title{
    font-size: 1.5rem;
    color: #D72638;
}

.header-menu > .image img {
    width: 100%;
    border-radius: 15px;
}

.product-options {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0px 30px 30px 30px;
    gap: 20px;
}
.product-options > .option-card {
    display: grid;
}

.product-options > .option-card > .option-description {
    border-top: 2px dotted #F4C95D;;
    padding-top: 30px;
}

.footer{
    background-color: #2E2E2E;
    font-family: 'Ubuntu Condensed', sans-serif;
    color: #F5F5F5;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 450px;
    margin: -4px;
}
#ubication {
    scroll-margin-top: 113px;
}

.footer > .footer-phone-hours{
    display: flex;
    justify-content: space-between;
}
.footer > .footer-phone-hours span {

    margin-left: 10px;
    margin-right: 10px;
    font-size: 1em;
    letter-spacing: 2px;
}
.footer > .footer-phone-hours > .attention {
    display: grid;
}

.footer > .footer-phone-hours > .Phone {
    align-content: center;
}

.footer > .footer-phone-hours > .attention > .Days {
    justify-self: center;
    font-size: 0.8em;
}
.footer > .footer-phone-hours > .attention > .Hours {

    color: #F4C95D;
    font-size: 0.8em;
}

.footer > .link-wrapper {

    margin-top: 40px;
    margin-bottom: 40px;
    width: 400px;

}

.footer > .social-media-icons {

    margin-top: 40px;
    margin-bottom: 40px;
    width: 300px;
    display: flex;
    justify-content: space-around;

}

.footer > .social-media-icons a{

    color: #F5F5F5;
    font-size: 2em;
    transition: 0.5s;

}

.footer > .social-media-icons a:hover{

    color: #F4C95D;

}

.footer > .copyright-wrapper {

    margin-bottom: 42px;
    font-size: 0.7em;
    color: #858585;
}

.footer > .copyright-wrapper a {
    text-decoration: none;
    color: #F4C95D;
}


.link-wrapper {

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.link-wrapper > .nav-link a {

    font-family: 'Ubuntu Condensed', sans-serif;
    color: #F5F5F5;
    text-decoration: none;
    transition: 0.5s;

}

.link-wrapper > .nav-link {

    width: 70px;
    text-align: center;
}

.link-wrapper >.nav-link a:hover{

    color: #F4C95D;
    letter-spacing: 2px;

}

@media(max-width: 900px){
    .menu-wrapper > .menu-items {
        grid-template-columns: 1fr 1fr;
    }
    .left-icon, .right-icon {
        display: block;
    }
    .product-options {
        grid-template-columns: 1fr 1fr;
    }
}

@media(max-width: 615px){
     .hero-section{
        padding: 50px 10px;
    }

    .menu-wrapper > .menu-items {
        grid-template-columns: 1fr;
        padding: 1rem;
    }

    .feature-section{
        height: 100%;
    }

    .feature-section > .column-wrapper{
        flex-direction: column;
    }

    .link-wrapper{
        flex-direction: column;
        margin-bottom: 20px;
    }

    .link-wrapper > .nav-link {

        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 1.5em;
        width: 100%;
    }

    .menu-bar {
        padding: 15px;
    }

    .product-options {
        grid-template-columns: 1fr;
    }

    .footer {
        height: 100%;
        padding: 15px;
    }

}